#recipe-title{
    margin-left: 100px;;
    padding:50px;
    display:flex;
    gap:2rem;
    flex-wrap: wrap;
}
@media (max-width:768px){
     flex-direction :column;
}
    
li:hover{
    color:red;
}
.ingredients{
    border-color: black;
    border-width:5px;
    border-style: solid;
    padding:5px;
    background-color: palevioletred;
}
.steps{
    border-color: black;
    border-width:5px;
    border-style: solid;
    padding:5px;
    width:500px;
    height:200px;
    background-color: palevioletred;
}
.nutrition{
    border-color: black;
    border-width:5px;
    border-style: solid;
    padding:5px;
    background-color: palevioletred;
}
nav{
    background-color: palevioletred;
    border-color: black;
    border-width:5px;
    border-style: solid;
    padding:5px;
}
main{
    background-color: palevioletred;
}
